/* центр яйца */

#center{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:50vh;
}

/* большое яйцо */

#egg{
font-size:180px;
cursor:pointer;
transition:transform .1s;
}

#egg:active{
transform:scale(.9);
}

/* нижняя панель */

#bottom{

position:absolute;
bottom:0;

width:100%;

background:white;

padding:15px;

box-shadow:0 -5px 20px rgba(0,0,0,.15);

}

/* кнопки по центру */

#buildings,
#upgrades{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:6px;

}

button{
width:auto;
padding:10px 15px;
}
