#center{

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

margin-top:40px;

}

#egg{

font-size:200px;

cursor:pointer;

transition:transform .1s;

}

#egg:active{

transform:scale(.9);

}

.clickText{

font-size:20px;
margin-top:10px;

}


#bottom{

margin-top:40px;

background:#ffffffaa;

padding:20px;

border-radius:15px;

width:90%;
max-width:900px;

margin-left:auto;
margin-right:auto;

box-shadow:0 0 15px rgba(0,0,0,.2);

}
